<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section>
      <div class="containerformulario">
        <div class="containerAddTitle">
          <h1>Calcula tu Crédito</h1>
        </div>
        <form class="addFomulario">
          <div>
            <label>Lìnea de crèdito:</label>
            <select id="producto" name="producto" required>
              <% for (i = 0; i < linea.length; i++){%>
              <option value="<%= linea[i].id %>"><%= linea[i].value%></option>
              <% } %>
            </select>
          </div>

          <div>
            <label>Monto:</label>
            <input type="text" />
          </div>

          <div>
            <label>Plazo (Meses):</label>
            <select id="tiempo" name="tiempo" required>
              <% for (i = 1; i <=10; i++){%>
              <option value="<%= i %>"><%= i%></option>
              <% } %>
            </select>
          </div>

          <div class="containerInfo">
            <h3>Tasa MV:</h3>
            <P>VALUE</P>
            <h3>Valor cuota aproximado:</h3>
            <P>VALUE</P>
          </div>

          <div class="btn">
            <button type="button">Calcular</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
