<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section>
      <div class="containerformulario">
        <div class="containerAddTitle">
          <h1>Calcula tu Crédito</h1>
        </div>
        <form class="addFomulario">
          
          <div>
            <label for="linea">Lìnea de crédito:</label>
            <select id="linea" name="linea" required>
              <% let lineaSeleccionada =""; %>
              <% for (i = 0; i < linea.length; i++){%>
              <option value="<%= linea[i].id %>"><%= linea[i].value%></option>
              <% } %>
            </select>
          </div>

          <div id="visible" class="oculto">
            <label for="monto">Monto:</label>
            <input type="number" id="monto" />
          </div>

          <div class="oculto" id="plazo">
            <label for="plazo">Plazo (Meses):</label>
            <select id="plazo" name="plazo" required>
              <% for (i = 1; i <=10; i++){%>
              <option value="<%= i %>"><%= i%></option>
              <% } %>
            </select>
          </div>

          <div class="calculo">            
            <h3>Tasa MV:</h3>
            <P>VALUE</P>
            <h3>Valor cuota aproximado:</h3>
            <P>VALUE</P>
          </div>
          <h2 id="h2">probando</h2>
          <div>
            <button id="btn" type="button">Calcular</button>
          </div>
        </form>
      </div>
    </section>
    <script src="/javascripts/productValidations.js"></script>
  </body>
</html>
